body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.header {
    width: 100%;
    height: 89px;
    padding: 0 164px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .9);
    position: fixed;
    left: 0;
    top:0;
}


.link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    color: #736f6e;
    margin-right: 38px;
}

.login {
    border: none;
    outline: none;
    cursor: pointer;
    width: 87px;
    height: 27px;
    background: #de6d6e;
    border-radius: 3px;
    font-size: 17px;
    color: white;
    text-transform: capitalize;
    margin-left: 4px;
}

.banner {
    width: 100%;
    height: 588px;
    background-image: url('../images/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -60px;
    color: white;
    padding-bottom: 85px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.title {
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 800;
}

.title_small {
    font-size: 25px;
}

.info {
    width: 100%;
    height: 469px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    box-sizing: border-box;
}

.info_title {
    color: #404040;
    font-size: 35px;
    margin-bottom: 30px;
}

.menu {
    width: 50px;
    height: 50px;
    border: 3px solid #404040;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
}

.line {
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: relative;
    transition: .4s;
}

.line::after {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
    transition: .4s;
}

.line::before {
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;
    transition: .4s;
}

.info_text {
    width: 830px;
    text-align: center;
}

.circles {
    width: 100%;
    padding: 0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-top: 87px;
}

.card { 
    border-radius: 50%;
    width: 179px;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    flex-shrink: 0;
}

.card > img {
    margin-bottom: 12px;
}

.blue {
    background: #4eb9f4;
}

.green {
    background: #6fc125;
}

.red {
    background: #ff5649;
}

.orange {
    background: #e48f23;
}

.chb {
    display: none;
}

.chb:checked + .line {
    background-color: transparent;
}

.chb:checked + .line::after {
    transform: rotate(-45deg);
    top: 0;
}

.chb:checked + .line::before {
    transform: rotate(45deg);
    bottom: 0;
}

.chb:checked ~ .dropdown {
    height: 200px;
}

.dropdown {
    position: absolute;
    width: 250px;
    height: 0;
    background-color: white;
    box-shadow: 5px 5px 10px 0 black;
    left: 55px;
    top: 50px;
    transition: .4s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    box-sizing: border-box;
    overflow: hidden;
}

.dropdown > .link {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}


.news {
    width: 100%;
    padding: 45px 129px;
    box-sizing: border-box;
    padding-bottom: 0;
}

.news-item {
    width: 100%;
    height: 135px;
    display: flex;
    margin-bottom: 79px;
    padding-left: 65px;
    box-sizing: border-box;
}

.news-info {
    margin-left: 27px;
    padding-top: 10px;
    box-sizing: border-box;
}

.news-title {
    font-size: 27px;
    font-weight: 300;
    color: #404040;
    display: block;
    width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news-text {
    font-size: 15px;
    color: #8b8b8b;
}

.footer {
    width: 100%;
    height: 258px;
    background: #232326;
    padding: 36px 129px 34px 129px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    color: #aeaeae;
    font-size: 21px;
}

.footer-list {
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.footer-list > li {
    margin-bottom: 2px;
}

.footer-list > li > a {
    font-size: 12px;
    color: #aeaeae;
    text-decoration: none;
    padding: 0;
}

.submenus {
    width: 644px;
    display: flex;
    justify-content: space-between;
    margin-left: 65px;
}

.social {
    color: #aeaeae;
    font-size: 15px;
    margin-top: 18px;
}

.social-btns > a {
    margin-right: 25px;
    text-decoration: none;
}

.social-btns > a:last-child {
    margin-right: 0;
}

.social-btns {
    margin-bottom: 30px;
}

/* ---------------------------- */

@media screen and (max-width: 1310px) {
    .footer {
        padding: 36px 20px 34px 20px;
    }

    .submenus {
        margin-left: 0;
    }
}

@media screen and (max-width: 1056px) { 
    .circles {
        padding: 0 10px;
    }

    .footer {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
}

@media screen and (max-width: 980px) {
    .header {
        padding: 0 20px;
    }

    .info_text {
        width: 100%;
    }
}

@media screen and (max-width: 710px) {
    .links {
        display: none;
    }

    .header {
        flex-direction: row-reverse;
    }

    .menu {
        display: flex;
    }

    .circles {
        /* flex-direction: column; */
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .card {
        margin: 10px 30px;
    }

    .info {
        height: auto;
    }

    .submenus {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .submenus {
        flex-wrap: wrap;
    }

    .social-btns > a {
        margin-right: 10px;
    }
}
